html {
	scroll-padding-top: 50px;
}

body {
	font-size: 17px;
}

.bg-yellow {background-color: #f1c40f;}
.bg-black {background-color: #222222;}
.bg-clouds {background-color: #ecf0f1;}
.bg-silver {background-color: #bdc3c7;}

.bg-background {
	background-size: cover;
	background-position: center;
}

.btn-primary,
.btn-outline-primary {
	font-weight: 700;
	padding: .375rem 1.5rem;
}

h3 {
	border-left: 4px solid #f1c40f;
	padding-left: 8px;
	text-transform: uppercase;
}


main {
	min-height: 70vh;
}


.accordion-button {
	font-size: 24px;
}








.calendar-post h3:not(:first-child) {
	margin-top: 3rem;
}




header h1 a {
	color: #222;
}

nav .nav-link {
	color: #fff;
	opacity: 0.75;
}

nav.nav-pills .nav-link.active {
	background-color: #3e3e3e;
	opacity: 1;
}













#homepage-banner {
	background-image: url("/images/homepage-banners/plano-homepage-banner.jpg");
	padding: 125px 0;
	background-size: cover;
	background-position: center;
}

#homepage-banner h2 {
	font-size: 100px;
	font-weight: 800;
	color: #fff;
	text-shadow: 0 2px 26px rgba(34, 34, 34, 0.8);
}














#post-header {
	padding: 60px 0;
	background-color: #222;
	color: #fff;
	background-size: cover;
	background-position: center;
}

#post-navigation a {
	padding: 12px 16px;
	font-weight: bold;
}

#post-navigation a:hover,
#post-navigation a:focus {
	text-decoration: underline;
}












.download-file-btn svg {
	width: 30px;
	height: 30px;
}
