---
layout: layouts/calendar.njk
title: "Park Workshop"
description: "This is a sample calendar event to show off the calendar features."
date: "2021-04-25"
eventDate: "May 1, 2021 - May 2, 2021"
details: "Workshop activities will take place on this platform. Registered participants will receive more information about these activities shortly before the event."
titleBackground: "calendar-park.jpg"
tags:
  - "Budget"
  - "Parks & Rec"
---

<div id="post-introduction" class="pb-5 border-bottom mb-5">
	<h3>Introduction</h3>

	<p>Over the last twenty years, the cultural heritage sector has made an enormous effort to digitise their holdings and to adapt to the new digital reality that is unfolding. The growing collections of digitised and increasingly born-digital data have opened unprecedented opportunities for exploitation by creative industries and individual citizens. Yet the economic and societal benefits of these activities are not immediately obvious, failing to demonstrate the return on investment in digitisation and digital strategies for public engagement</p>

	<p>Community Plano is developing a novel methodology that will evaluate the wide-spread effects of this digital revolution and guide its future evolution to further support the investment in digitisation and the creation of frameworks for accessible and reusable cultural assets.</p>

	<p>Our methodology combines three strands of research:</p>

	<ul>
		<li>understanding and measuring the socioeconomic impact of access to cultural goods and services and new modes of content production that have been enabled by digital cultural heritage</li>
		<li>mapping IPR regulations on a national and international level to better understand legal constraints for creative reuse and identify areas where policies need to be aligned with practices to enable the promotion and exploitation of cultural assets</li>
		<li>developing new business models and best practices that help individual organisations to overcome bottlenecks in the creative reuse and consumption of cultural assets</li>
	</ul>

	<p class="h4">Consultation Workshop with Cultural Heritage Sector</p>

	<p>In order to collect input for the development of our methodology, inDICEs is organising an online workshop with two sessions on 15-16 September. The aim of these sessions is to understand the needs and concerns of CHI professionals regarding IPR and value chains, future research competencies and change management.</p>

	<h3>Details</h3>

	{{ details }}
</div><!-- end introduction -->












<div id="post-program" class="pb-5 border-bottom mb-5">
	<h3 class="mb-3">Program</h3>

	<div id="event-days" class="accordion shadow">
		{% accordion "Day 1: Tuesday, Sep 15", "#event-days" %}
			<h4>IPR Framework for Digital Transformation in the Cultural Heritage sector</h4>
			<p>Timezone: CDT</p>

			<h5>This workshop session aims to understand the challenges and opportunities of the European legal Intellectual Property Rights (IPR) framework for the Digital Transformation of the CHI sector.</h5>

			<p>Is IP protection, copyright in particular, a curse or an opportunity for CHIs? Can new mechanisms be implemented to facilitate access and dissemination of cultural content and information by CHIs? We will report on our IPR mapping and run focus group exercises to uncover challenges faced by individual CHIs.</p>

			<p>We welcome participants from Cultural Heritage Institutions who are faced with a rapidly accelerating Digital Transformation in the sector. We want to hear from you: What are the challenges you face? What are your concerns or hopes? What role does open access play in your organization? Can IPR help to develop new, promising business models for 21st-century-proof CHIs?</p>

			<p>In the workshop, we will report on the IPR mapping made in the context of the legal research in inDICEs, and propose some takeaways to the participants. We will also present some initial data from the survey on IPR that we will run from Mid-August onwards, and from the participatory process on this very portal. The main activity of the IPR workshop will then consist in a “focus group” with participants to gather inputs and comments.</p>

			<h5>Programme:</h5>

			<ul class="mb-5">
				<li>14:00 - Brief introduction of the two days sessions by Frederik Truyen (5 minutes)</li>
				<li>14:05 - Introduction of the inDICEs project by Sara Di Giorgio (10 minutes)</li>
				<li>14:15 - Introduction of the WP2 goals by Prof.Marie-Christine Janssens (15 minutes)</li>
				<li>14:30 - Introduction of the ReCreating Europe Project  (15 minutes)</li>
				<li>14:45 - Main comments from the ‘Mapping of the relevant European IP legal framework’ (20minutes)</li>
				<li>15:05 -  Surveys promotion- Recreating Europe & inDICEs (10 minutes)</li>
				<li>15:15 - Coffee break (15 minutes)</li>
				<li>15:30 - Breakout session - consultation with groups of participants</li>
				<li>16:15 - Wrap up and conclusions from the groups- chaired by Frederik Truyen</li>
				<li>17:00 - End of the session</li>
			</ul>

			<div class="bg-clouds mb-5 p-4 d-flex align-items-center">
				<div class="me-3">{% icon "geo-alt" %}</div>
				<div class="me-5">
					<div class="fw-bold">Online: Zoom</div>
					<div>Oak Point Park and Nature Preserve</div>
					<div>Sep 15</div>
				</div>

				<button class="btn btn-outline-primary">Join Meeting</button>

				<div class="ms-auto">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.1556953720775!2d-96.67465574769679!3d33.058366499877735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c198d37b8787b%3A0xc20b83989b1ad5!2sOak%20Point%20Park%20and%20Nature%20Preserve!5e0!3m2!1sen!2sus!4v1619102777776!5m2!1sen!2sus" width="350" height="125" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div><!-- end silver bg -->


			<h5>Related Documents</h5>

			<ol class="list-group list-group-numbered" style="max-width: 525px;">
				{% downloadDocument
					"Group 1: Managing IP",
					"Core observations from breakout room 1",
					"#"
				%}

				{% downloadDocument
					"Group 2: IP and your digitzation strategy",
					"Summary of discussions from breakout room 2",
					"#"
				%}

				{% downloadDocument
					"Day 1: IPR Frameworks",
					"Slides from first session of the CHI Consulting workshop",
					"#"
				%}
			</ol>
		{% endaccordion %}



		{% accordion "Day 2: Wednesday, Sep 16", "#event-days" %}
			<h4>Value Chains and Impact in the Cultural Heritage Sector</h4>
			<p>Timezone: CDT</p>

			<h5>This session is dedicated to the value chains created on the basis of digital cultural heritage. We want to discuss how (re)use of resources through new services, initiatives and products creates impact and added cultural, social and economic value.</h5>

			<p>We hope that together we can deepen our understanding of how digitised cultural digital resources are reused and to what effect. We are interested in value chains created both within the Cultural and Creative Sectors and the "Culture 3.0" regime, characterised by grassroots cultural participation and production. Our focus is also on policies that support such (re)use and help create positive cultural value chains.</p>

			<p>Our workshop is targeted at professionals who would like to share and discuss both conceptual models and case studies of reuse of digital heritage resources. We are inviting:</p>

			<ul>
				<li>representatives of cultural heritage institutions;</li>
				<li>academics and researchers;</li>
				<li>representatives of Cultural and Creative Sector companies;</li>
				<li>representatives of Open GLAM non-profits, activists and leaders of grassroots projects.</li>
			</ul>

			<p>Gathering all these perspectives will give us valuable insights that we can use to create guidelines and policy recommendations matching the stakeholder needs.</p>

			<h5>Programme:</h5>

			<ul class="mb-5">
				<li>14:00 - 14:10 Kick-off. Welcome. Brief presentation of the workshop agenda</li>
				<li>14:10 - 14:30 Keynote speech by Alek Tarkowski: “The role of digital cultural resources in modern societies"</li>
				<li>14:30 - 14:45 Presentation of the value chain research project - Jan Strycharz</li>
				<li>14:45 - 16:15 Consultations and conversations in workshop groups</li>
				<li>16:15 - 16:45 Keynote speech by Merete Sanderhoff: "Strengthening the positive impact of digital cultural resources"</li>
				<li>16:45 - Closing remarks and farewell.</li>
			</ul>

			<div class="bg-clouds mb-5 p-4 d-flex align-items-center">
				<div class="me-3">{% icon "geo-alt" %}</div>
				<div class="me-5">
					<div class="fw-bold">Online: Zoom</div>
					<div>Oak Point Park and Nature Preserve</div>
					<div>Sep 16</div>
				</div>

				<button class="btn btn-outline-primary">Join Meeting</button>

				<div class="ms-auto">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.1556953720775!2d-96.67465574769679!3d33.058366499877735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c198d37b8787b%3A0xc20b83989b1ad5!2sOak%20Point%20Park%20and%20Nature%20Preserve!5e0!3m2!1sen!2sus!4v1619102777776!5m2!1sen!2sus" width="350" height="125" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div><!-- end silver bg -->


			<h5>Related Documents</h5>

			<ol class="list-group list-group-numbered" style="max-width: 525px;">
				{% downloadDocument
					"Group 1: Managing IP",
					"Core observations from breakout room 1",
					"#"
				%}

				{% downloadDocument
					"Group 2: IP and your digitzation strategy",
					"Summary of discussions from breakout room 2",
					"#"
				%}

				{% downloadDocument
					"Day 1: IPR Frameworks",
					"Slides from first session of the CHI Consulting workshop",
					"#"
				%}
			</ol>
		{% endaccordion %}
	</div><!-- end accordion -->
</div><!-- end program -->









<div id="post-registration" class="">
	<h3>Registration</h3>

	<form class="row g-3" style="max-width: 525px;">
		<div class="col-md-6">
			<label for="inputEmail4" class="form-label">First Name</label>
			<input type="text" class="form-control" id="inputEmail4">
		</div>
		<div class="col-md-6">
			<label for="inputEmail4" class="form-label">Last Name</label>
			<input type="text" class="form-control" id="inputEmail4">
		</div>
		<div class="col-md-6">
			<label for="inputEmail4" class="form-label">Email</label>
			<input type="email" class="form-control" id="inputEmail4">
		</div>
		<div class="col-md-6">
			<label for="inputZip" class="form-label">Zip</label>
			<input type="text" class="form-control" id="inputZip">
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn-primary">Sign Up</button>
		</div>
	</form>
</div><!-- end registration -->















