<div class="pb-5 border-bottom mb-5">
	<h1>Latest 3 Assemblies</h1>

	<div class="mb-5">
		{% set postslist = collections.assemblies | head(-3) %}
		{% set postslistCounter = collections.assemblies | length %}

		{% include "source/pages/page-components/listing-assembly.njk" %}
	</div>

	<p class="text-center">More events can be found on the  <a href="{{ '/assemblies/' }}">assemblies page</a>.</p>
</div>
