{# Semantic list tags help assistive technologies #}
<ol reversed class="list-unstyled row" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
	{% for post in postslist | reverse %}
		{% if post.data.titleBackground|length == 0 %}
			{% set titleBackground = "default.jpg" %}
		{% else %}
			{% set titleBackground = post.data.titleBackground %}
		{% endif %}

		<li class="col-lg-4 postlist-item mb-5">
			<div class="card h-100">
				<img src="/images/calendars/{{ titleBackground }}"
					 class="card-img-top"
					 alt="Image for {{ post.data.title }}">
				<div class="card-body">
					<h5 class="card-title">{{ post.data.title }}</h5>
					<p class="text-muted small">{{ post.data.eventDate }}</p>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

					<div class="mb-3">
						{% for tag in post.data.tags %}
							{%- if collections.tagList.indexOf(tag) != -1 -%}
								{% if tag != "calendars" %}
									{% set tagUrl %}/tags/{{ tag }}/{% endset %}
									<span href="{{ tagUrl | url }}" class="badge bg-clouds text-dark">{{ tag }}</span>
								{% endif %}
							{%- endif -%}
						{% endfor %}
					</div>
				</div><!-- end card body -->
				<div class="text-center mt-auto pb-4">
					<a href="{{ post.url | url }}" class="btn btn-outline-primary stretched-link">Take Part</a>
				</div><!-- end row -->
			</div><!-- end card -->



		</li>
	{% endfor %}
</ol>
